<!-- Used by theme-bio-builtin-2 -->

{% if site.data.bio.publication %}
<div class="sixteen wide column no-bottom">
  <h3 class="ui left aligned header no-bottom">Publications</h3>
  <hr style="margin: 0px;">
</div>

{% for entry in site.data.bio.publication %}
  <div class="sixteen wide column no-bottom">
    <p class="ui no-bottom">
      <b>{{ entry.name }}</b>{% if entry.author and entry.author != "" %}, {{ entry.author }}{% endif %}, <em>{{ entry.publisher }}</em>, {{ entry.releaseDate }}
      {% if entry.website %}
        <p class="ui no-bottom"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
      {% endif %}
    </p>
    <p class="ui no-bottom">{{ entry.summary }}</p>
    {% endif %}
  {% endfor %}
  </div>

  <div style="padding-top: 0px;" class="sixteen wide column no-bottom">
    <p class="ui no-bottom">{{ entry.summary }}</p>
    {% if entry.highlights %}
      <ul style="margin: 0px;">
        {% for highlight in entry.highlights %}
          <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endfor %}

{% endif %}
