<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html 

<script>
  $('.ui.embed').embed();
</script>
-->
<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><a style="text align: right" class="nav-link" href="https://limjongyoon.github.io">Copyright 2023. Lim Jongyoon. All pictures cannot be copied without permission. </a></small>
      </ul>
    </div>
  </div>
</footer>
